<div class="sheet-header rw-1 cl-2">
  <div class="rw-a ta-c">
    <input type="text" name="char-name" id="char-name" placeholder="Name thy character">
    <label for="char-name">Character Name</label>
  </div>
  <div class="rw-a cl-a ta-c">
    <label for="char-class">
      <input type="text" name="char-class" id="char-class" placeholder="Class & Level">
      Class & Level
    </label>
    <label for="char-background">
      <input type="text" name="char-background" id="char-background" placeholder="Background">
      Background
    </label>
    <label for="char-player">
      <input type="text" name="char-player" id="char-player" placeholder="Player name">
      Player Name
    </label>
    <label for="char-race">
      <input type="text" name="char-race" id="char-race" placeholder="Race">
      Race
    </label>
    <label for="char-alignment">
      <input type="text" name="char-alignment" id="char-alignment" placeholder="Alignment">
      Alignment
    </label>
    <label for="char-exp">
      <input type="text" name="char-exp" id="char-exp" placeholder="Experience Points">
      Experience Points
    </label>
  </div>
</div>
