button {
    border-radius: 0;
}

.btn-blue {
    background-color: lightblue;
    color: black;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-lg {
    height: 50px;
    width: 250px
}