<div class="content">
  <div class="sheet-header rw-1 cl-2">
    <div class="rw-2 ta-c">
      <input type="text" name="char-name" id="char-name" placeholder="Name thy character">
      <label for="char-name">Character Name</label>
    </div>
    <div class="rw-2 cl-3 ta-c">
      <label for="char-class">
        <input type="text" name="char-class" id="char-class" placeholder="Class & Level">
        Class & Level
      </label>
      <label for="char-background">
        <input type="text" name="char-background" id="char-background" placeholder="Background">
        Background
      </label>
      <label for="char-player">
        <input type="text" name="char-player" id="char-player" placeholder="Player name">
        Player Name
      </label>
      <label for="char-race">
        <input type="text" name="char-race" id="char-race" placeholder="Race">
        Race
      </label>
      <label for="char-alignment">
        <input type="text" name="char-alignment" id="char-alignment" placeholder="Alignment">
        Alignment
      </label>
      <label for="char-exp">
        <input type="text" name="char-exp" id="char-exp" placeholder="Experience Points">
        Experience Points
      </label>
    </div>

    <div class="sheet-attributes cl-1 rw-6">
      <div class="rw-3 mx-h">
        <input [(ngModel)]="attributes.str" type="number" name="char-str" id="char-str" class="char-attr">
        <label for="char-str">Strength</label>
        <span>
          <span *ngIf="calculateMod(attributes.str, 'str') > 0">+</span>
          {{ attribMods.str }}
        </span>
      </div>

      <div class="rw-3 mx-h">
        <input [(ngModel)]="attributes.dex" type="number" name="char-dex" id="char-dex" class="char-attr">
        <label for="char-dex">Dexterity</label>
        <span>
          <span *ngIf="calculateMod(attributes.dex, 'dex') > 0">+</span>
          {{ attribMods.dex }}
        </span>
      </div>

      <div class="rw-3 mx-h">
        <input type="number" name="char-con" id="char-con" class="char-attr">
        <label for="char-con">Constitution</label>
        <span>+5</span>
      </div>

      <div class="rw-3">
        <input type="number" name="char-int" id="char-int" class="char-attr">
        <label for="char-int">Intelligence</label>
        <span>+5</span>
      </div>

      <div class="rw-3">
        <input type="number" name="char-wis" id="char-wis" class="char-attr">
        <label for="char-wis">Wisdom</label>
        <span>+5</span>
      </div>

      <div class="rw-3">
        <input type="number" name="char-chr" id="char-chr" class="char-attr">
        <label for="char-chr">Charisma</label>
        <span>+5</span>
      </div>
    </div>




  </div>
</div>
