<div class="content">
    <app-char-header
      (charDataEvent)="receiveCharData($event)"
      ></app-char-header>
    <button type="button" class="bt-s" (click)="printSheet()">[TEST] PRINT SHEET</button>
    <div class="cl-3">
      <div class="cl-2">
        <app-char-attributes
          (attributeEvent)="receiveAttributes($event)"
          (modEvent)="receiveMods($event)"></app-char-attributes>
        <div>SUB CONTENT A</div>
      </div>
      <div>CONTENT - 1</div>
      <div>CONTENT - 2</div>
    </div>

</div>
