@import './styles/columns';
@import './styles/rows';

.gap-8 {
  gap: 8px;
}

.ta-c {
  text-align: center;
}

.mx-h {
  max-height: calc(100% - 8vh);
}

.bt-s{
  width: 64px;
  height: 37px;
}

.char-attr {
  width: 2.5em;
  height: 2.5em;
}

.cb-s {
  height: 2.5em;
  width: 9em;
}

.cb-m {
  height: 2.5em;
  width: 13.5em;
}
